[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylama = "*"
black = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
pytest-cov = "*"
nabard = {editable = true,path = "."}

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
